frontend/node_modules
frontend/.env
frontend/build
frontend/.idea

backend/.idea
backend/.env
backend/.vscode/
target/
.idea/
src/main/java/com/backend/Security/SecurityConstants.java
src/main/resources/application.properties
src/main/resources/hibernate.cfg.xml
backend/bin
backend/obj
backend/out
/src/main/resources/secret.properties
