<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.driver_class">oracle.jdbc.driver.OracleDriver</property>
        <property name="connection.url">jdbc:oracle:thin:@localhost:1521:XE</property>
        <property name="dialect">org.hibernate.dialect.Oracle12cDialect</property>
        <property name="hibernate.hbm2ddl.auto">update</property>

        <property name="show_sql">true</property>
        <mapping class="main.java.Models.CommentEntity"/>
        <mapping class="main.java.Models.HealthRestrictionEntity"/>
        <mapping class="main.java.Models.IngredientEntity"/>
        <mapping class="main.java.Models.PersonEntity"/>
        <mapping class="main.java.Models.PersonPreferenceEntity"/>
        <mapping class="main.java.Models.PersonRecipeEntity"/>
        <mapping class="main.java.Models.PersonRestrictionEntity"/>
        <mapping class="main.java.Models.PersonSettingEntity"/>
        <mapping class="main.java.Models.PhotoEntity"/>
        <mapping class="main.java.Models.PreferenceEntity"/>
        <mapping class="main.java.Models.RatingEntity"/>
        <mapping class="main.java.Models.RecipeEntity"/>
        <mapping class="main.java.Models.RecipeIngredientEntity"/>
        <mapping class="main.java.Models.SettingEntity"/>
        <mapping class="main.java.Models.StepEntity"/>
        <mapping class="main.java.Models.StepRecipeEntity"/>
    </session-factory>
</hibernate-configuration>