<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.driver_class">oracle.jdbc.driver.OracleDriver</property>
        <property name="connection.url">jdbc:oracle:thin:@localhost:1521:XE</property>
        <property name="connection.username">czarek</property>
        <property name="connection.password">password</property>
        <property name="dialect">org.hibernate.dialect.Oracle12cDialect</property>
        <property name="hibernate.hbm2ddl.auto">create-drop</property>

        <property name="show_sql">true</property>

        <mapping class="main.java.Models.Comment" />
        <mapping class="main.java.Models.Health_Restriction" />
        <mapping class="main.java.Models.Ingredient" />
        <mapping class="main.java.Models.Photo" />
        <mapping class="main.java.Models.Preference" />
        <mapping class="main.java.Models.Rating" />
        <mapping class="main.java.Models.Recipe" />
        <mapping class="main.java.Models.Recipe_ingredient" />
        <mapping class="main.java.Models.Setting" />
        <mapping class="main.java.Models.Step" />
        <mapping class="main.java.Models.Step_Recipe" />
        <mapping class="main.java.Models.User" />
        <mapping class="main.java.Models.User_healthRestriction" />
        <mapping class="main.java.Models.User_history" />
        <mapping class="main.java.Models.User_preference" />
        <mapping class="main.java.Models.User_setting" />
    </session-factory>
</hibernate-configuration>