<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

    <session-factory>
        <property name="connection.driver_class">oracle.jdbc.driver.OracleDriver</property>
        <property name="connection.url">jdbc:oracle:thin:@localhost:1521:XE</property>
        <!--<property name="dialect">org.hibernate.dialect.Oracle12cDialect</property>-->
        <property name="dialect">org.hibernate.dialect.Oracle12cDialect</property>
        <property name="hibernate.hbm2ddl.auto">update</property>

        <property name="show_sql">true</property>


        <mapping class="com.backend.Models.IngredientEntity"/>
        <mapping class="com.backend.Models.PersonEntity"/>
        <mapping class="com.backend.Models.CommentEntity"/>
        <mapping class="com.backend.Models.HealthRestrictionEntity"/>
        <mapping class="com.backend.Models.PhotoEntity"/>
        <mapping class="com.backend.Models.PreferenceEntity"/>
        <mapping class="com.backend.Models.RatingEntity"/>
        <mapping class="com.backend.Models.SettingEntity"/>
        <mapping class="com.backend.Models.StepEntity"/>
        <!--<mapping class="com.backend.Models.PersonRecipeEntity"/>-->

        <mapping class="com.backend.Models.RecipeEntity"/>
        <!--<mapping class="com.backend.Models.RecipeIngredientEntity"/>-->



    </session-factory>
</hibernate-configuration>