.horizontal-list
  display: flex
  width: 100%
  overflow: scroll hidden

  ul
    list-style-type: none
    margin: 0
    padding: 0
    overflow-y: scroll

  horizontal-list::-webkit-scrollbar
    display: none

    li
      float: left
  .card-header
    color: white
    text-shadow: 4px 4px 6px black
    background: linear-gradient(45deg, black, transparent)